$text-white: #fff;
$text-yellow: #ec8724;
$background-color: #040615;
// $logo-color: #5bcbf5;
$logo-color: #327293;
$dark-logo-variant: #007bff40;
$green-color: #8bc34a;

.text-white {
	color: $text-white;
}

.bg-white {
	background: $text-white;
}

.text-yellow {
	color: $text-yellow;
}

.bg-yellow {
	background: $text-yellow;
}

.bg-logo {
	background: $logo-color;
}

.text-green {
	color: $green-color;
}

.bg-green {
	background: $green-color;
}

.text-logo {
	color: $logo-color;
}

a.bg-logo:hover {
	background: $dark-logo-variant;
}

.bg-dark-logo {
	background: $background-color;
}

body {
	background: $background-color;
	font-family: "Lato", sans-serif;
	color: $text-white;
}

.fall__back {
	height: 100vh;
	width: 100vw;
}

.aos-init {
	overflow: hidden !important;
}

.wrapper {
	// background: linear-gradient(#0b203b, rgba(0, 0, 0, 0.8)), url("/images/homepage_01_bg.jpg");
	// background-attachment: fixed;
	// min-height: 100vh;
	background-color: #040615;

	header {
		.logo {
			width: 200px;
		}

		a {
			font-size: 18px;
			color: #5bcbf5;
		}
	}

	.banner__img {
		height: 250px;
		width: 300px;
		object-fit: cover;

		@media screen and (min-width: 768px) {
			height: 400px;
			width: auto;
		}
	}

	.footer {
		background: url("/images/footer-wave.svg") no-repeat;
		background-size: cover;
		height: 150px;
		width: 100%;
		bottom: 20px;

		@media screen and (min-width: 800px) {
			height: 200px;
		}

		@media screen and (min-width: 900px) {
			height: 250px;
		}

		a {
			&:hover {
				color: $text-yellow;
			}
		}
	}
}

.homepage {
	.action__btn {
		a {
			width: 100%;
			border-radius: 30px;
			border: 2px solid #ddd;
			transition: background 600ms;

			@media screen and (min-width: 768px) {
				width: 200px;
			}

			&:nth-child(1) {
				background: #327293;

				&:hover {
					background: #327293c4;
				}
			}

			&:nth-child(2) {
				background: #050918;

				&:hover {
					background: #151414;
				}
			}

			&:nth-child(3) {
				background: #ec8724;

				&:hover {
					background: #e28c0dad;
				}
			}
		}
	}

	.items {
		position: relative;
		padding-left: 30px;

		&::before,
		&::after {
			position: absolute;
			content: "";
		}

		&::before {
			top: 3px;
			left: 0;
			width: 1.5rem;
			height: 1.5rem;
			display: inline-block;
			background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), rgba(0, 0, 0, 0);
			background-position: center;
			background-size: 50% 2px, 2px 50%;
			background-repeat: no-repeat;
		}

		&::after {
			top: 2.7rem;
			left: 10px;
			bottom: 0;
			width: 2px;
			background-color: $text-white;
		}
	}

	.faq {
		.btn-link,
		.btn {
			text-align: left;

			&:hover {
				text-decoration: none;
			}

			&:focus {
				text-decoration: none;
				box-shadow: none;
			}
		}
	}
}

.join,
.auth {
	.register {
		border: 8px double $logo-color;
		&__img {
			max-height: 500px;
			width: 100%;
			object-fit: cover;
			object-position: left top;
		}

		.change {
			transition: ease-in all 300ms;

			&:hover {
				color: #fff;
				background: $logo-color !important;
			}
		}

		.signup {
			transition: ease-in all 300ms;
			&:hover {
				background: $dark-logo-variant;
			}
		}

		.auth {
			transition: ease-in all 300ms;
			&:hover {
				text-decoration: none;
			}
		}

		.auth__input {
			&::placeholder {
				color: #212529 !important;
			}

			&:focus {
				outline: 0;
			}
		}

		.view {
			border-top-left-radius: 0 !important;
			border-top-right-radius: 0 !important;

			&:hover {
				background: $dark-logo-variant !important;
				color: $text-white;
			}

			&.btn:focus {
				box-shadow: none;
			}
		}

		.img2 {
			transform: scaleX(-1);
		}
	}
}

/**************************************
            Neogrey font
**************************************/
@font-face {
	font-family: "Neogrey";
	font-style: normal;
	font-weight: normal;
	src: local("Neogrey"), url("./NeogreyRegular.woff") format("woff");
}

@font-face {
	font-family: "Neogrey Medium";
	font-style: normal;
	font-weight: bold;
	src: local("Neogrey Medium"), url("./NeogreyMedium.woff") format("woff");
}

.font-neogrey {
	font-family: Neogrey;
}

.font-neogrey-medium {
	font-family: "Neogrey Medium";
}

.dashboard {
	header {
		.globe {
			width: 250px;
			height: 180px;
			font-family: Neogrey;
		}

		ul {
			list-style-type: none;
		}

		.font-neogrey-medium.fa-2x {
			font-size: 22pt;
		}

		.sm {
			font-size: 12px;
		}

		@media screen and (max-width: 767px) {
			flex-wrap: wrap;

			nav {
				justify-content: center !important;
			}

			.display__items {
				flex-direction: row !important;
				justify-content: space-between !important;

				& > div.row {
					display: inline-block;
					text-align: center;
					text-align: center;
				}

				.col-lg-7 {
					text-align: center !important;
				}
			}

			.globe {
				display: none;
			}

			a {
				font-size: 14px;
			}

			.font-neogrey-medium.fa-2x {
				font-size: 10pt;
			}

			.sm {
				font-size: 10px;
			}
		}

		@media screen and (min-width: 768px) and (max-width: 991px) {
			flex-wrap: wrap;

			nav {
				justify-content: center !important;
			}

			.display__items {
				flex-direction: row !important;
				justify-content: space-between !important;

				& > div.row {
					display: inline-block;
					text-align: center;
					text-align: center;
				}

				.col-lg-7 {
					text-align: center !important;
				}
			}

			.globe {
				width: 200px;
				height: 120px;
			}

			.font-neogrey-medium.fa-2x {
				font-size: 18pt;
			}

			.sm {
				font-size: 12px;
			}
		}
	}

	.details,
	.main {
		.border-bg {
			border: 1px solid $logo-color;
			border-radius: 10px;

			@media screen and (min-width: 768px) {
				border: 5px double $logo-color;
			}
		}

		.border {
			border: 1px solid $logo-color !important;
			border-radius: 10px;
		}

		.txt__bg {
			font-size: 12px;

			@media screen and (min-width: 768px) {
				font-size: 18px;
			}

			& > div:nth-child(2) {
				color: $logo-color !important;
			}
		}

		.ft,
		.btn {
			font-size: 14px;
			box-shadow: none;

			@media screen and (min-width: 768px) {
				font-size: 20px;
			}
		}

		.fgt {
			h5 {
				font-size: 1rem;

				@media screen and (min-width: 768px) {
					font-size: 1.25rem;
				}
			}
		}

		span {
			font-size: 12px;

			@media screen and (min-width: 768px) {
				font-size: 1rem;
			}
		}

		.sm__img {
			max-width: 100px;
		}

		.mg__n5 {
			margin-bottom: -1.8rem !important;
		}

		.link {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		copy-button > button:first-child {
			background-color: transparent;
			border: none;
			padding: 0;
		}
	}

	.main {
		.col-5-4 {
			@media screen and (min-width: 500px) and (max-width: 576px) {
				-ms-flex: 0 0 33.333333%;
				flex: 0 0 33.333333%;
				max-width: 33.333333%;
			}
		}

		a {
			&:hover {
				text-decoration: none;
			}

			&.bg-logo:hover {
				background-color: #327293bf;
			}

			&.bg-yellow:hover {
				background-color: #ec8724cc;
			}
		}

		.line {
			@media screen and (min-width: 768px) {
				height: 20px;
			}

			span {
				border-left: 1px dashed $text-yellow;
			}
		}

		.line {
			height: 14px;

			span {
				&:nth-child(1) {
					top: -30px;
					left: -25px;
					transform: rotate(36deg);
				}

				&:nth-child(3) {
					top: -30px;
					left: -25px;
					transform: rotate(-36deg);
				}

				@media screen and (min-width: 768px) {
					&:nth-child(1) {
						top: -50px;
						left: -27px;
					}

					&:nth-child(3) {
						top: -50px;
						left: -30px;
						transform: rotate(-36deg);
					}
				}
			}
		}

		.rounded-box {
			.hole {
				width: 20px;
				height: 20px;
				display: inline-block;
				background-color: $dark-logo-variant;

				@media screen and (min-width: 768px) {
					width: 25px;
					height: 25px;
				}
			}
		}

		.text-bg {
			font-size: 14px;

			@media screen and (min-width: 768px) {
				font-size: 18px;
			}
		}

		.f__l,
		.c__l {
			span {
				position: relative;

				&::before,
				&::after {
					position: absolute;
					content: "";
				}

				&.first-child {
					&::before {
						width: 1px;
						border-left: 1px solid $text-yellow;
					}

					a {
						position: absolute;
					}
				}

				&.second-child {
					&::before {
						height: 15px;
					}
				}

				a {
					&.bg-logo:hover {
						border: 1px solid #327293bf;
					}
				}
			}
		}

		.f__l {
			span {
				width: 15px;
				height: 15px;
				line-height: 15px;

				&::before,
				&::after {
					top: -1rem;
				}

				&:nth-child(1) {
					&::before {
						left: 10px;
						transform: rotate(25deg);
					}
				}

				&:nth-child(2) {
					&::before {
						right: 10px;
						transform: rotate(-25deg);
					}
				}

				&.first-child {
					&::before {
						height: 15px;
					}
				}

				&.second-child {
					&::before {
						width: 1px;
						height: 15px;
						border-left: 1px solid $text-yellow;
					}
				}
			}
		}

		.c__l {
			span {
				width: 12px;
				height: 12px;
				line-height: 12px;

				&::before,
				&::after {
					top: -1rem;
				}

				&:nth-child(1) {
					&::before {
						left: 8px;
						transform: rotate(25deg);
					}
				}

				&:nth-child(2) {
					&::before {
						right: 8px;
						transform: rotate(-25deg);
					}
				}

				&.first-child {
					&::before {
						height: 15px;
					}
				}

				&.second-child {
					&::before {
						width: 1px;
						height: 16px;
						border-left: 1px solid $text-yellow;
						top: -1rem;
					}

					&:first-child::before {
						left: 12px;
					}

					&:nth-child(2)::before {
						left: -2px;
					}
				}

				&.third-child {
					border: 1px solid $logo-color;
					display: inline-block;
					top: 1.5rem;

					&::before {
						width: 1px;
						height: 14px;
						border-left: 1px solid $text-yellow;
					}

					// &:nth-child(1) {
					// 	&::before {

					// 	}
					// }
				}
			}
		}

		.invite {
			.draw {
				width: 15px;
				height: 15px;
				border-radius: 50%;
				display: inline-block;
			}
		}
	}

	.page {
		.info {
			@media screen and (max-width: 767px) {
				.max__w {
					max-width: 230px;
				}
			}

			.spn {
				width: 25px;
				height: 25px;
				line-height: 25px;
				font-size: 12px;
				text-align: center;
			}

			.bd {
				width: 120px;

				@media screen and (min-width: 480px) {
					width: 180px;
				}

				@media screen and (min-width: 768px) {
					width: 320px;
				}

				&:hover {
					color: white;
				}

				&:focus {
					box-shadow: none;
				}
			}

			.id__details {
				width: 170px;

				@media screen and (min-width: 375px) {
					width: 200px;
				}

				@media screen and (min-width: 768px) {
					width: 320px;
				}
			}

			.border {
				border: 1px solid #327293 !important;
				border-radius: 0;
			}

			.gbn__h {
				.bg-light-col {
					background: #32729336;

					&:hover {
						background: #32729357;
					}
				}

				.dt {
					width: 25px;
					height: 25px;
					border: 1px solid $logo-color;
				}

				.border-top {
					border-color: $logo-color !important;
				}
			}

			&.second__box {
				.first__line {
					span {
						height: 50px;
						border-left: 1px dashed $logo-color;
						position: relative;
						top: -5px;

						&:nth-child(1) {
							transform: rotate(40deg);
							left: 55px;
						}

						&:nth-child(2) {
							transform: rotate(-40deg);
							left: -55px;
						}
					}
				}

				.first__row {
					span {
						width: 25px;
						height: 25px;
						top: -12px;
						position: relative;

						&:nth-child(1) {
							left: 25px;
						}

						&:nth-child(2) {
							right: 25px;
						}
					}
				}

				.sec__d {
					.secd__line {
						span {
							height: 40px;
							position: relative;
							border-left: 1px dashed $logo-color;
							top: -15px;
						}

						.first {
							span {
								&:first-child {
									left: 25px;
									transform: rotate(20deg);
								}

								&:last-child {
									left: 45px;
									transform: rotate(-20deg);
								}
							}
						}

						.second {
							span {
								&:first-child {
									right: 40px;
									transform: rotate(20deg);
								}

								&:last-child {
									right: 20px;
									transform: rotate(-20deg);
								}
							}
						}
					}

					.secd__row {
						position: relative;
						top: -25px;

						span {
							width: 25px;
							height: 25px;
							position: relative;
						}

						.first {
							span:nth-child(2) {
								left: 20px;
							}
						}

						.second {
							span:nth-child(1) {
								left: -20px;
							}
						}
					}
				}
			}

			&.third__box {
				.first__line {
					@media screen and (min-width: 768px) {
						position: relative;
						top: -5px;
					}

					span {
						height: 15px;
						border-left: 1px solid $logo-color;
						position: relative;

						@media screen and (min-width: 768px) {
							height: 50px;
						}

						&:nth-child(1) {
							left: 36px;
							transform: rotate(28deg);

							@media screen and (min-width: 768px) {
								left: 25px;
								transform: rotate(40deg);
							}
						}

						&:nth-child(2) {
							right: 36px;
							transform: rotate(-28deg);

							@media screen and (min-width: 768px) {
								right: 25px;
								transform: rotate(-40deg);
							}
						}
					}
				}

				.first__row {
					position: relative;
					@media screen and (min-width: 768px) {
						top: -10px;
					}

					span {
						width: 18px;
						height: 18px;
						position: relative;

						@media screen and (min-width: 768px) {
							width: 40px;
							height: 40px;
						}

						&:nth-child(1) {
							left: 20px;

							@media screen and (min-width: 768px) {
								left: -20px;
							}
						}

						&:nth-child(2) {
							right: 20px;

							@media screen and (min-width: 768px) {
								right: -20px;
							}
						}
					}
				}

				.thd {
					position: relative;

					@media screen and (min-width: 768px) {
						top: -18px;
					}

					.secd__line {
						span {
							height: 20px;
							position: relative;
							border-left: 1px dashed $logo-color;

							@media screen and (min-width: 768px) {
								height: 50px;
							}
						}

						.first {
							span {
								&:first-child {
									left: 17px;
									transform: rotate(35deg);

									@media screen and (min-width: 768px) {
										left: -30px;
										transform: rotate(30deg);
									}
								}

								&:last-child {
									left: 34px;
									transform: rotate(-35deg);

									@media screen and (min-width: 768px) {
										left: 20px;
										transform: rotate(-30deg);
									}
								}
							}
						}

						.second {
							span {
								&:first-child {
									right: 32px;
									transform: rotate(35deg);

									@media screen and (min-width: 768px) {
										right: 20px;
										transform: rotate(30deg);
									}
								}

								&:last-child {
									right: 16px;
									transform: rotate(-35deg);

									@media screen and (min-width: 768px) {
										right: -30px;
										transform: rotate(-30deg);
									}
								}
							}
						}
					}

					.third__row {
						span {
							width: 18px;
							height: 18px;
							position: relative;
							top: -7px;

							@media screen and (min-width: 768px) {
								width: 40px;
								height: 40px;
							}
						}
						.first {
							span {
								&:first-child {
									left: -5px;

									@media screen and (min-width: 768px) {
										left: -75px;
									}
								}

								&:last-child {
									right: -15px;

									@media screen and (min-width: 768px) {
										right: 20px;
									}
								}
							}
						}

						.second {
							span {
								&:first-child {
									left: -20px;

									@media screen and (min-width: 768px) {
										left: 10px;
									}
								}

								&:last-child {
									@media screen and (min-width: 768px) {
										right: -65px;
									}
								}
							}
						}
					}
				}

				.fth {
					.thd__line {
						@media screen and (min-width: 768px) {
							position: relative;
							top: -20px;
						}
					}

					span {
						height: 20px;
						border-left: 1px dashed $logo-color;
						position: relative;
						top: -8px;

						@media screen and (min-width: 768px) {
							height: 40px;
						}
					}

					.first {
						.ft {
							span {
								&:first-child {
									left: -9px;
									transform: rotate(20deg);

									@media screen and (min-width: 768px) {
										left: -80px;
										transform: rotate(15deg);
									}
								}

								&:last-child {
									right: -10px;
									transform: rotate(-15deg);

									@media screen and (min-width: 768px) {
										left: -35px;
										transform: rotate(-15deg);
									}
								}
							}
						}

						.sd {
							span {
								&:first-child {
									left: 30px;
									transform: rotate(25deg);

									@media screen and (min-width: 768px) {
										left: 20px;
										transform: rotate(15deg);
									}
								}

								&:last-child {
									right: -50px;
									transform: rotate(-25deg);

									@media screen and (min-width: 768px) {
										left: 54px;
										transform: rotate(-15deg);
									}
								}
							}
						}
					}

					.second {
						.ft {
							span {
								&:first-child {
									left: -55px;
									transform: rotate(25deg);

									@media screen and (min-width: 768px) {
										left: -60px;
										transform: rotate(15deg);
									}
								}

								&:last-child {
									right: 40px;
									transform: rotate(-20deg);

									@media screen and (min-width: 768px) {
										left: -27px;
										transform: rotate(-15deg);
									}
								}
							}
						}

						.sd {
							span {
								&:first-child {
									left: -15px;
									transform: rotate(20deg);

									@media screen and (min-width: 768px) {
										left: 30px;
										transform: rotate(15deg);
									}
								}

								&:last-child {
									right: 0px;
									transform: rotate(-30deg);

									@media screen and (min-width: 768px) {
										left: 65px;
										transform: rotate(-15deg);
									}
								}
							}
						}
					}

					.last__row {
						position: relative;
						top: -5px;

						@media screen and (min-width: 768px) {
							top: -25px;
						}

						span {
							width: 18px;
							height: 18px;

							@media screen and (min-width: 768px) {
								width: 35px;
								height: 35px;
							}
						}

						@media screen and (min-width: 768px) {
							.fdrw,
							.ldrw {
								display: flex;
								flex-wrap: nowrap;
							}
						}

						.box1 {
							.fdrw {
								span {
									&:first-child {
										left: -25px;

										@media screen and (min-width: 768px) {
											left: -100px;
										}
									}

									&:last-child {
										left: -15px;

										@media screen and (min-width: 768px) {
											left: -87px;
										}
									}
								}
							}

							.ldrw {
								span {
									&:first-child {
										left: -12px;

										@media screen and (min-width: 768px) {
											left: -72px;
										}
									}

									&:last-child {
										left: -5px;

										@media screen and (min-width: 768px) {
											left: -67px;
										}
									}
								}
							}
						}

						.box2 {
							.fdrw {
								span {
									&:first-child {
										left: 0;

										@media screen and (min-width: 768px) {
											left: -60px;
										}
										
										@media screen and (min-width: 1200px) {
											left: -30px;
										}
									}

									&:last-child {
										left: 5px;

										@media screen and (min-width: 768px) {
											left: -57px;
										}
										
										@media screen and (min-width: 1200px) {
											left: -10px;
										}
									}
								}
							}

							.ldrw {
								span {
									&:first-child {
										left: 5px;

										@media screen and (min-width: 768px) {
											left: -45px;
										}
										
										@media screen and (min-width: 1200px) {
											left: 0px;
										}
									}

									&:last-child {
										left: 18px;

										@media screen and (min-width: 768px) {
											left: -35px;
										}
										
										@media screen and (min-width: 1200px) {
											left: 15px;
										}
									}
								}
							}
						}
					}
				}
			}
		}

		.table {
			font-size: 12px;

			@media screen and (min-width: 576px) {
				font-size: 14px;
			}

			th {
				border-top: none;
			}

			span {
				font-size: 12px;

				@media screen and (min-width: 576px) {
					font-size: 14px;
				}
			}

			td {
				border-top: 1px dashed $logo-color;
				border-bottom: 1px dashed $logo-color;
			}
		}

		.notif__bar {
			position: fixed;
			width: 30px;
			height: 30px;
			line-height: 30px;
			bottom: 20px;
			right: 20px;

			@media screen and (min-width: 768px) {
				width: 50px;
				height: 50px;
				line-height: 50px;
			}
		}
	}

	.cop_y {
		.check {
			display: none;
		}

		&:focus, &:focus-within {
			outline: none;
			box-shadow: none;

			.check {
				display: inline;
			}
		}
	}
}
