.text-white {
  color: #fff;
}

.bg-white {
  background: #fff;
}

.text-yellow {
  color: #ec8724;
}

.bg-yellow {
  background: #ec8724;
}

.bg-logo {
  background: #327293;
}

.text-green {
  color: #8bc34a;
}

.bg-green {
  background: #8bc34a;
}

.text-logo {
  color: #327293;
}

a.bg-logo:hover {
  background: #007bff40;
}

.bg-dark-logo {
  background: #040615;
}

body {
  background: #040615;
  font-family: "Lato", sans-serif;
  color: #fff;
}

.fall__back {
  height: 100vh;
  width: 100vw;
}

.wrapper {
  background-color: #040615;
}

.wrapper header .logo {
  width: 200px;
}

.wrapper header a {
  font-size: 18px;
  color: #5bcbf5;
}

.wrapper .banner__img {
  height: 250px;
  width: 300px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .wrapper .banner__img {
    height: 400px;
    width: auto;
  }
}

.wrapper .footer {
  background: url("/images/footer-wave.svg") no-repeat;
  background-size: cover;
  height: 150px;
  width: 100%;
  bottom: 20px;
}

@media screen and (min-width: 800px) {
  .wrapper .footer {
    height: 200px;
  }
}

@media screen and (min-width: 900px) {
  .wrapper .footer {
    height: 250px;
  }
}

.wrapper .footer a:hover {
  color: #ec8724;
}

.homepage .action__btn a {
  width: 100%;
  border-radius: 30px;
  border: 2px solid #ddd;
  transition: background 600ms;
}

@media screen and (min-width: 768px) {
  .homepage .action__btn a {
    width: 200px;
  }
}

.homepage .action__btn a:nth-child(1) {
  background: #327293;
}

.homepage .action__btn a:nth-child(1):hover {
  background: #327293c4;
}

.homepage .action__btn a:nth-child(2) {
  background: #050918;
}

.homepage .action__btn a:nth-child(2):hover {
  background: #151414;
}

.homepage .action__btn a:nth-child(3) {
  background: #ec8724;
}

.homepage .action__btn a:nth-child(3):hover {
  background: #e28c0dad;
}

.homepage .items {
  position: relative;
  padding-left: 30px;
}

.homepage .items::before, .homepage .items::after {
  position: absolute;
  content: "";
}

.homepage .items::before {
  top: 3px;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), rgba(0, 0, 0, 0);
  background-position: center;
  background-size: 50% 2px, 2px 50%;
  background-repeat: no-repeat;
}

.homepage .items::after {
  top: 2.7rem;
  left: 10px;
  bottom: 0;
  width: 2px;
  background-color: #fff;
}

.homepage .faq .btn-link,
.homepage .faq .btn {
  text-align: left;
}

.homepage .faq .btn-link:hover,
.homepage .faq .btn:hover {
  text-decoration: none;
}

.homepage .faq .btn-link:focus,
.homepage .faq .btn:focus {
  text-decoration: none;
  box-shadow: none;
}

.join .register,
.auth .register {
  border: 8px double #327293;
}

.join .register__img,
.auth .register__img {
  max-height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: left top;
}

.join .register .change,
.auth .register .change {
  transition: ease-in all 300ms;
}

.join .register .change:hover,
.auth .register .change:hover {
  color: #fff;
  background: #327293 !important;
}

.join .register .signup,
.auth .register .signup {
  transition: ease-in all 300ms;
}

.join .register .signup:hover,
.auth .register .signup:hover {
  background: #007bff40;
}

.join .register .auth,
.auth .register .auth {
  transition: ease-in all 300ms;
}

.join .register .auth:hover,
.auth .register .auth:hover {
  text-decoration: none;
}

.join .register .auth__input::placeholder,
.auth .register .auth__input::placeholder {
  color: #212529 !important;
}

.join .register .auth__input:focus,
.auth .register .auth__input:focus {
  outline: 0;
}

.join .register .view,
.auth .register .view {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.join .register .view:hover,
.auth .register .view:hover {
  background: #007bff40 !important;
  color: #fff;
}

.join .register .view.btn:focus,
.auth .register .view.btn:focus {
  box-shadow: none;
}

.join .register .img2,
.auth .register .img2 {
  transform: scaleX(-1);
}

/**************************************
            Neogrey font
**************************************/
@font-face {
  font-family: "Neogrey";
  font-style: normal;
  font-weight: normal;
  src: local("Neogrey"), url("./NeogreyRegular.woff") format("woff");
}

@font-face {
  font-family: "Neogrey Medium";
  font-style: normal;
  font-weight: bold;
  src: local("Neogrey Medium"), url("./NeogreyMedium.woff") format("woff");
}

.font-neogrey {
  font-family: Neogrey;
}

.font-neogrey-medium {
  font-family: "Neogrey Medium";
}

.dashboard header .globe {
  width: 250px;
  height: 180px;
  font-family: Neogrey;
}

.dashboard header ul {
  list-style-type: none;
}

.dashboard header .font-neogrey-medium.fa-2x {
  font-size: 22pt;
}

.dashboard header .sm {
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .dashboard header {
    flex-wrap: wrap;
  }
  .dashboard header nav {
    justify-content: center !important;
  }
  .dashboard header .display__items {
    flex-direction: row !important;
    justify-content: space-between !important;
  }
  .dashboard header .display__items > div.row {
    display: inline-block;
    text-align: center;
    text-align: center;
  }
  .dashboard header .display__items .col-lg-7 {
    text-align: center !important;
  }
  .dashboard header .globe {
    display: none;
  }
  .dashboard header a {
    font-size: 14px;
  }
  .dashboard header .font-neogrey-medium.fa-2x {
    font-size: 10pt;
  }
  .dashboard header .sm {
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .dashboard header {
    flex-wrap: wrap;
  }
  .dashboard header nav {
    justify-content: center !important;
  }
  .dashboard header .display__items {
    flex-direction: row !important;
    justify-content: space-between !important;
  }
  .dashboard header .display__items > div.row {
    display: inline-block;
    text-align: center;
    text-align: center;
  }
  .dashboard header .display__items .col-lg-7 {
    text-align: center !important;
  }
  .dashboard header .globe {
    width: 200px;
    height: 120px;
  }
  .dashboard header .font-neogrey-medium.fa-2x {
    font-size: 18pt;
  }
  .dashboard header .sm {
    font-size: 12px;
  }
}

.dashboard .details .border-bg,
.dashboard .main .border-bg {
  border: 1px solid #327293;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .dashboard .details .border-bg,
  .dashboard .main .border-bg {
    border: 5px double #327293;
  }
}

.dashboard .details .border,
.dashboard .main .border {
  border: 1px solid #327293 !important;
  border-radius: 10px;
}

.dashboard .details .txt__bg,
.dashboard .main .txt__bg {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .dashboard .details .txt__bg,
  .dashboard .main .txt__bg {
    font-size: 18px;
  }
}

.dashboard .details .txt__bg > div:nth-child(2),
.dashboard .main .txt__bg > div:nth-child(2) {
  color: #327293 !important;
}

.dashboard .details .ft,
.dashboard .details .btn,
.dashboard .main .ft,
.dashboard .main .btn {
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .dashboard .details .ft,
  .dashboard .details .btn,
  .dashboard .main .ft,
  .dashboard .main .btn {
    font-size: 20px;
  }
}

.dashboard .details .fgt h5,
.dashboard .main .fgt h5 {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .dashboard .details .fgt h5,
  .dashboard .main .fgt h5 {
    font-size: 1.25rem;
  }
}

.dashboard .details span,
.dashboard .main span {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .dashboard .details span,
  .dashboard .main span {
    font-size: 1rem;
  }
}

.dashboard .details .sm__img,
.dashboard .main .sm__img {
  max-width: 100px;
}

.dashboard .details .mg__n5,
.dashboard .main .mg__n5 {
  margin-bottom: -1.8rem !important;
}

.dashboard .details .link,
.dashboard .main .link {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (min-width: 500px) and (max-width: 576px) {
  .dashboard .main .col-5-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.dashboard .main a:hover {
  text-decoration: none;
}

.dashboard .main a.bg-logo:hover {
  background-color: #327293bf;
}

.dashboard .main a.bg-yellow:hover {
  background-color: #ec8724cc;
}

@media screen and (min-width: 768px) {
  .dashboard .main .line {
    height: 20px;
  }
}

.dashboard .main .line span {
  border-left: 1px dashed #ec8724;
}

.dashboard .main .line {
  height: 14px;
}

.dashboard .main .line span:nth-child(1) {
  top: -30px;
  left: -25px;
  transform: rotate(36deg);
}

.dashboard .main .line span:nth-child(3) {
  top: -30px;
  left: -25px;
  transform: rotate(-36deg);
}

@media screen and (min-width: 768px) {
  .dashboard .main .line span:nth-child(1) {
    top: -50px;
    left: -27px;
  }
  .dashboard .main .line span:nth-child(3) {
    top: -50px;
    left: -30px;
    transform: rotate(-36deg);
  }
}

.dashboard .main .rounded-box .hole {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #007bff40;
}

@media screen and (min-width: 768px) {
  .dashboard .main .rounded-box .hole {
    width: 25px;
    height: 25px;
  }
}

.dashboard .main .text-bg {
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .dashboard .main .text-bg {
    font-size: 18px;
  }
}

.dashboard .main .f__l span,
.dashboard .main .c__l span {
  position: relative;
}

.dashboard .main .f__l span::before, .dashboard .main .f__l span::after,
.dashboard .main .c__l span::before,
.dashboard .main .c__l span::after {
  position: absolute;
  content: "";
}

.dashboard .main .f__l span.first-child::before,
.dashboard .main .c__l span.first-child::before {
  width: 1px;
  border-left: 1px solid #ec8724;
}

.dashboard .main .f__l span.first-child a,
.dashboard .main .c__l span.first-child a {
  position: absolute;
}

.dashboard .main .f__l span.second-child::before,
.dashboard .main .c__l span.second-child::before {
  height: 15px;
}

.dashboard .main .f__l span a.bg-logo:hover,
.dashboard .main .c__l span a.bg-logo:hover {
  border: 1px solid #327293bf;
}

.dashboard .main .f__l span {
  width: 15px;
  height: 15px;
  line-height: 15px;
}

.dashboard .main .f__l span::before, .dashboard .main .f__l span::after {
  top: -1rem;
}

.dashboard .main .f__l span:nth-child(1)::before {
  left: 10px;
  transform: rotate(25deg);
}

.dashboard .main .f__l span:nth-child(2)::before {
  right: 10px;
  transform: rotate(-25deg);
}

.dashboard .main .f__l span.first-child::before {
  height: 15px;
}

.dashboard .main .f__l span.second-child::before {
  width: 1px;
  height: 15px;
  border-left: 1px solid #ec8724;
}

.dashboard .main .c__l span {
  width: 12px;
  height: 12px;
  line-height: 12px;
}

.dashboard .main .c__l span::before, .dashboard .main .c__l span::after {
  top: -1rem;
}

.dashboard .main .c__l span:nth-child(1)::before {
  left: 8px;
  transform: rotate(25deg);
}

.dashboard .main .c__l span:nth-child(2)::before {
  right: 8px;
  transform: rotate(-25deg);
}

.dashboard .main .c__l span.first-child::before {
  height: 15px;
}

.dashboard .main .c__l span.second-child::before {
  width: 1px;
  height: 16px;
  border-left: 1px solid #ec8724;
  top: -1rem;
}

.dashboard .main .c__l span.second-child:first-child::before {
  left: 12px;
}

.dashboard .main .c__l span.second-child:nth-child(2)::before {
  left: -2px;
}

.dashboard .main .c__l span.third-child {
  border: 1px solid #327293;
  display: inline-block;
  top: 1.5rem;
}

.dashboard .main .c__l span.third-child::before {
  width: 1px;
  height: 14px;
  border-left: 1px solid #ec8724;
}

.dashboard .main .invite .draw {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
}

.dashboard .page .info .spn {
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  text-align: center;
}

.dashboard .page .info .bd {
  width: 120px;
}

@media screen and (min-width: 480px) {
  .dashboard .page .info .bd {
    width: 180px;
  }
}

@media screen and (min-width: 768px) {
  .dashboard .page .info .bd {
    width: 320px;
  }
}

.dashboard .page .info .bd:hover {
  color: white;
}

.dashboard .page .info .bd:focus {
  box-shadow: none;
}

.dashboard .page .info .id__details {
  width: 170px;
}

@media screen and (min-width: 375px) {
  .dashboard .page .info .id__details {
    width: 200px;
  }
}

@media screen and (min-width: 768px) {
  .dashboard .page .info .id__details {
    width: 320px;
  }
}

.dashboard .page .info .border {
  border: 1px solid #327293 !important;
  border-radius: 0;
}

.dashboard .page .info .gbn__h .bg-light-col {
  background: #32729336;
}

.dashboard .page .info .gbn__h .bg-light-col:hover {
  background: #32729357;
}

.dashboard .page .info .gbn__h .dt {
  width: 25px;
  height: 25px;
  border: 1px solid #327293;
}

.dashboard .page .info .gbn__h .border-top {
  border-color: #327293 !important;
}

.dashboard .page .table {
  font-size: 12px;
}

@media screen and (min-width: 576px) {
  .dashboard .page .table {
    font-size: 14px;
  }
}

.dashboard .page .table th {
  border-top: none;
}

.dashboard .page .table span {
  font-size: 12px;
}

@media screen and (min-width: 576px) {
  .dashboard .page .table span {
    font-size: 14px;
  }
}

.dashboard .page .table td {
  border-top: 1px dashed #327293;
  border-bottom: 1px dashed #327293;
}
